@use "../vars" as vars;
@use "../utils" as utils;

.extras {
  &__container {
    border-top: 1px solid vars.$c-text-secondary;
  }

  &__content {
    padding: 24px 0 16px;
    background-color: vars.$c-bg-secondary;

    @include utils.on-desktop {
      display: none;
    }
  }

  &__stepper {
    margin-bottom: 16px;
    display: flex;

    &__box {
      position: relative;
      z-index: 1;
      width: 25%;
      text-align: center;
      font-size: 12px;
      color: vars.$c-text-secondary;
    }

    &__indicator {
      margin: 0 auto 7px;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: vars.$c-indicator;
        position: absolute;
        top: 25%;
        left: 0;
      }

      &__first {
        margin: 0 auto 7px;

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          display: block;
          width: 50%;
          height: 1px;
          background-color: vars.$c-btn-primary;
          top: 25%;
          left: 50%;
        }
      }

      &__last {
        margin: 0 auto 7px;

        &::after {
          position: absolute;
          content: "";
          display: block;
          width: 50%;
          height: 1px;
          background-color: vars.$c-indicator;
          top: 25%;
          right: 50%;
        }
      }
    }
  }

  &__car {
    &__info {
      display: flex;
      gap: 16px;

      align-items: center;
      padding: 0 16px;
    }

    &__img-box {
      width: 72px;
      height: 72px;
    }

    &__img {
      width: 72px;
      height: 72px;
      display: block;
      object-fit: contain;
      object-position: center;
    }

    &__details {
      &__capture {
        font-weight: 500;
        font-size: 18px;
      }

      &__similar {
        font-size: 14px;
        color: vars.$c-text-secondary;
      }

      &__rent {
        font-size: 14px;
      }
    }
  }

  &__options {
    padding: 32px 16px 80px;

    @include utils.on-desktop {
      padding: 16px 0 10px;
    }

    &__box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      margin-bottom: 32px;

      @include utils.on-desktop-large {
        grid-template-columns: repeat(9, 1fr);
      }
    }

    &__title {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  &__option {
    grid-column: span 2;
    position: relative;
    padding: 8px 8px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: vars.$c-indicator;
    border-radius: 8px;
    cursor: pointer;

    @include utils.on-desktop-large {
      grid-column: span 3;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      right: 0;
      border-radius: 0 8px 8px 0;
      height: 100%;
      opacity: 0.1;
      width: 36px;
      background-color: #fff;
    }

    &__description {
      @include utils.on-tablet {
        position: relative;
        padding-left: 16px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: vars.$c-text-secondary;
        }
      }
    }

    &__left {
      @include utils.on-tablet {
        display: flex;
        gap: 8px;
      }
    }

    &__icon {
      margin-bottom: 8px;
    }

    &__title {
      font-size: 14px;
      min-height: 34px;
      margin-bottom: 5px;
    }

    &__price {
      font-weight: 600;
      margin-bottom: 8px;

      @include utils.on-tablet {
        margin-bottom: 0;
      }
    }

    &.added {
      background-color: vars.$c-btn-primary;
    }
  }

  &__button {
    width: 100%;

    @include utils.on-tablet {
      max-width: 210px;
    }

    @include utils.on-desktop {
      display: none;
    }
  }
}
