$c-bg-page: #121214;
$c-bg-secondary: #1E1E20;
$c-text-primary: #FEFEFF;
$c-text-secondary: #BDBDBE;
$c-text-warning: #656566;
$c-btn-primary: #B68867;
$c-btn-primary-light: #C5A085;
$c-btn-disabled: #B6886733;
$c-indicator: #4F4F51;
$c-options: #39393B;
$w-tablet: 768px;
$w-desktop: 1024px;
$w-desktop-large: 1280px;
